<html>

<head>
  <title>Kris Kringles{% block subtitle %} {% endblock subtitle %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  {% block head %}
  {% endblock head %}
</head>

<body>
  <div class="ui vertically divided grid container">
    {% block content %}
    {% endblock content %}
  </div>
</body>

</html>